:root {
    --primary-color: #4CAF50;
    --hover-color: #45a049;
    --background-color: #f4f4f4;
    --text-color: white;
    --border-radius: 5px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
}

.title {
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 50px;
    height: auto;
    float: left;
    margin-left: 20px;
}

main {
    padding: 80px 20px 20px;
}

.page {
    display: none;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

#home-page {
    display: block;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--hover-color);
}

h2 {
    margin-top: 0;
}

textarea, input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 14px;
}

.alert {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

#consent-page {
    display: none;
}